// Colors
$color-primary: #55C57A;
$color-primary-dark: #28B485;
$color-primary-light: #7ED56F;

$color-secondary-light: #FFB900;
$color-secondary-dark: #FF7730;

$color-tertiary-light: #2998FF;
$color-tertiary-dark: #5643FA;

$color-dark-grey: #777777;
$color-grey-light-1: #f7f7f7;
$color-white: #FFFFFF;
$color-black: #000000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
